html {
    height: 100%;
}

body {
    background: url(https://images5.alphacoders.com/886/886632.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#game {
    display: flex;
    background-color: rgba(5, 88, 12, 0.781);
}

.columnTitle {
    font-family: 'Anton', sans-serif;
    text-align: center;
    color: white;
    font-size: 30px;
}

.box {
    font-family: 'Anton', sans-serif;
    width: 250px;
    height: 120px;
    background-color: rgba(1, 48, 1, 0.868);
    text-align: center;
    font-size: 75px;
    margin: 5px;
    padding: 0;
}

.questText {
    font-size: 14.75px;
    line-height: 20px;
    text-align: center;
    color: whitesmoke;
    font-family: 'PT Serif', serif;
}

button {
    background-color: rgba(193, 170, 37, 0.858);
}